* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.container {
  max-width: 1432px;
  margin: 0 auto;
}
a,
a:hover {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
  text-transform: capitalize;
}
/* .h2::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #ef743c;
} */
h5 {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
/* header css starts here */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  background-color: #000;
  padding: 32px 0;
}
header .logo {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .logo img {
  width: 100%;
}
header nav li a {
  font-size: 0.83em;
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
}
header .search-icon input {
  display: none;
}
header .search-icon {
  display: flex;
  align-items: center;
}
header .search-icon i {
  color: #fff;
  margin-left: 20px;
  font-size: 20px;
}
/* header ends here */

/* main page starts here */

.main-page {
  background-image: url(assets/images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  padding: 150px 0 0;
  position: relative;
}

.main-page::after {
  background-image: linear-gradient(
    to bottom,
    rgba(35, 66, 117, 0) 0%,
    #23427570 90%
  );
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.seeAll-page::after {
  background-image: linear-gradient(
    to bottom,
    rgba(35, 66, 117, 0) 50%,
    #234275 90%
  );
}
.main-page section {
  margin-bottom: 100px;
  z-index: 11;
  position: relative;
}
.main-page .content {
  background-color: rgb(52 61 72 / 75%);
  border-radius: 10px;
  padding: 60px 60px 100px;
  position: relative;
  z-index: 11;
}

.content .seeAll {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: capitalize;
}
.content .seeAll i {
  font-size: 25px;
  line-height: 22px;
  vertical-align: middle;
  margin-left: 20px;
}
.content .card-wrapper {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  padding: 0 30px;
}
.content .card {
  /* background-image: url(../images/img-1.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 23%;
  width: 100%;
  position: relative;
  min-height: 300px;
  border: none;
  padding: 10px 20px;
  margin: 8px 8px;
}
.content .slider-wrapper .card {
  max-width: none;
  width: unset;
}
.content .slider-main2{
  padding-top: 30px;
  border-top: 3px solid#ef743c;;
}
.content .slider-main .slick-dots li {
  width: 49%;
}
.content .slick-dots li {
  width: 24%;
  height: fit-content;
}
.content .slick-dots li button {
  width: 100%;
  height: fit-content;
  transition: all 0.5s ease-in-out;
  padding: 0;
}
.content .slick-dots {
  top: -40px;
  height: fit-content;
}
.content .slick-dots li button::before {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: #ef743c;
  font-size: 0;
  transition: all 0.5s ease-in-out;
  line-height: 0;
}
.content .slick-dots li button:hover::before {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.pagination {
  padding: 0 30px;
  width: 100%;
}

.pagination ul li .page-link {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #545b62;
  transition: all 0.5s ease-in-out;
  width: 50px;
  padding: 14px 15px;
  text-align: center;
}
.pagination ul .page-item.active .page-link {
  border-color: #fff;
  background-color: #fff;
  color: #545b62;
}

.pagination ul li a span {
  font-size: 20px;
  line-height: 0;
}
.pagination ul li a:hover {
  background-color: #fff;
  color: #234375;
}

/* .content .char2{
  background-image: url(../images/img-2.jpg);
}
.content .char3{
  background-image: url(../images/img-3.jpg);
}
.content .char4{
  background-image: url(../images/img-4.jpg);
} */
.content .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  z-index: 11;
  position: relative;
}
.card .course-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.card .course-title i {
  font-size: 25px;
  line-height: 1;
  margin-right: 10px;
  padding-top: 3px;
}
/* .card .course-title h5{
  border-right: 1px solid #ffff;
} */
.card .user-data {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
/* page card title  */
.main-page.seeAll-page{
  padding-top: 60px;
}
.charaterDetail.content{
  padding: 0;
}
.card-details {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 80vh;
  position: relative;
  color: #fff;
  padding: 80px 50px;
}
.card-details::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.card-details h2 {
  font-weight: 700;
}
.card-details .card-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.card-details h2::after {
  width: 50%;
}
.card-details p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.card-details .genres {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.card-details .genres h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.card-details .genres ul {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}
.card-details .genres ul li {
  padding: 0 15px;
  border-right: 1px solid #ef743c;
  font-size: 16px;
  line-height: 22px;
}
.card-details h5 {
  margin-bottom: 10px;
}

.card-details h5 b {
  margin-right: 10px;
}
.search-input {
  padding: 50px 0;
  position: relative;
  z-index: 11;
}
.search-input .input {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.search-input .input-icon {
  width: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 111;
  transform: translateY(-50%);
}
.search-input .input-icon a {
  color: #234375;
}
.search-input .input-wrapper {
  max-width: 80%;
  margin: 0 auto;
}
/* page card title  */
